    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Media
        <small>Optional description</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="box box-default">
        <div class="box-header with-border">
          <i class="fa fa-image"></i> Upload Images
        </div>

        <div class="box-body">
          <form action="/admin-panel-media-uploading" enctype="multipart/form-data" method="post">
            <div class="form-group">
              <input id="file-1" name="images" type="file" multiple class="file" data-overwrite-initial="false" data-min-file-count="1"
                accept="image/*">
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-default" name="submit" value="Save">
            </div>
          </form>
        </div>
      </div>
      <!-- Your Page Content Here -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 2.2.3 -->
<script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="bootstrap/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/app.min.js"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. Slimscroll is required when using the
     fixed layout. -->
    <!--File uploader-->
    <script src="plugins/fileuploader/js/plugins/sortable.js" type="text/javascript"></script>
    <script src="plugins/fileuploader/js/fileinput.js" type="text/javascript"></script>
    <script src="plugins/fileuploader/js/locales/fr.js" type="text/javascript"></script>
    <script src="plugins/fileuploader/js/locales/es.js" type="text/javascript"></script>
    <script>
        $("#file-1").fileinput({
            uploadUrl: "/admin-panel-media-uploading",
            uploadAsync: false,
            maxFileCount: 5,
            showBrowse: false,
            browseOnZoneClick: true,
            allowedFileTypes: ['image'],
            filebatchuploadsuccess: function(response){
              alert(response);
            }

            //uploadUrl: '/admin-panel-media-upload',
            // uploadAsync: false,
            //allowedFileExtensions: ['jpg', 'png', 'gif'],
            //overwriteInitial: false,
            //maxFileSize: 1000,
            //showBrowse: false,
            //browseOnZoneClick: true
            ////allowedFileTypes: ['image', 'video', 'flash'],
            //slugCallback: function (filename) {
            //  return filename.replace('(', '_').replace(']', '_');
            //}
          });
    </script>
</body>
</html>
