<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>TrendsNet | Admin Portal</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="././bootstrap/css/cms.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
      <!-- bootstrap wysihtml5 - text editor -->
  <link rel="stylesheet" href="/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
  <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
        page. However, you can choose any other skin. Make sure you
        apply the skin class to the body tag so the changes take effect.
  -->
  <link rel="stylesheet" href="dist/css/skins/skin-purple-light.css">

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Add New Page
        <small>Optional description</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
      </ol>
    </section>

    <!-- Main content -->
    <form action="/admin-panel-page-text-editor" method="post" id ="shitness">
    <section class="content ckeditor col-md-9">

      <!-- Your Page Content Here -->
      <div class="row">
        <div class="col-md-12">
          
          <!-- /.box -->

            <div class="box-header">
              
              <input class="form-control input-lg col-md-12" name="title" type="text" placeholder="Enter title here.." required>
              
              <!-- /. tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body pad">
                <textarea class="textarea" placeholder="Place some text here" name="body" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" required></textarea>
            </div>
                
        </div>
        <!-- /.col-->
      </div>

    </section>

    <div class="content col-md-3">
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title"><b>READY?</b></h3>         
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="box-group" id="accordion">
                <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                <div class="panel box box-primary">
                  <div class="box-header with-border">
                    <h4 class="box-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="" aria-expanded="true">
                        <p style=" color:dimgray; text-decoration: none;">Let's decide now</p>
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse in" aria-expanded="true">
                    <div class="box-body">
                      <div class="form-group">
                        <button type="submit" class="btn btn-block bg-purple"><i class="fa fa-lemon-o"></i> Publish</button>
                        <button type="button" class="btn btn-block btn-default">Save as Draft</button>
                        <button type="button" class="btn btn-block btn-default">Preview</button>
                        <button type="button" class="btn btn-block btn-default">Junk</button>
                      </div>
                    </div>
                  </div>
                </div>
          
                <div class="panel box box-primary">
                  <div class="box-header with-border">
                    <h4 class="box-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed" aria-expanded="false">
                        <p style=" color:dimgray; text-decoration: none;">Select your target section</p>
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="box-body">
                      <form action="/select-box" method="post">
                      
                        <select id="labyuu" visible="true" onChange="showsthis()" class="form-control select2 select2-hidden-accessible btn-block" style="width: 100%; visibilty:hidden;" tabindex="-1" aria-hidden="true">
                          <option disabled selected hidden="" >Target Section</option>
                          {{#each section}}
                          <option>{{this.section_name}}</option>
                          {{/each}}
                        </select>
                      <form>
                  </div>
                  <div class="box-body" id="demo" hidden="hidden" id="baby">
                        nice one
                    </div>
                  </div>
                </div>
                <div class="panel box box-primary">
                  <div class="box-header with-border">
                    <h4 class="box-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" class="">
                        <p style=" color:dimgray; text-decoration: none;">Set you feartured image</p>
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse" aria-expanded="true" style="height: 0px;">
                    <div class="box-body">
                      <label for="exampleInputFile"></label>
                      <input type="file" id="exampleInputFile" name="image">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
    </form>

    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 2.2.3 
<script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
-->
<!-- jQuery 3 -->
<script src="plugins/jQuery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="bootstrap/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->

<!-- CK Editor -->
<script src="https://cdn.ckeditor.com/4.5.7/standard/ckeditor.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<script>
  $(function () {
    // Replace the <textarea id="editor1"> with a CKEditor
    // instance, using default configuration.

    //bootstrap WYSIHTML5 - text editor
    //$(".textarea").wysihtml5();
  });
</script>



<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. Slimscroll is required when using the
     fixed layout. -->
</body>
</html>
