    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {{subtitle}}
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
      </ol>
    </section>

    <!-- Main content -->
    <form action="/admin-panel-post-text-editor" method="post">
    <section class="content ckeditor col-md-9">

      <!-- Your Page Content Here -->
      <div class="row">
        <div class="col-md-12">
          
          <!-- /.box -->

            <div class="box-header">
              
              <input class="form-control input-lg col-md-12" name="title" type="text" placeholder="Enter title here.." required>
              
              <!-- /. tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body pad">
                <textarea class="textarea" placeholder="Place some text here" name="body" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" required></textarea>
            </div>
                
        </div>
        <!-- /.col-->
      </div>

    </section>

    <div class="content col-md-3">
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title"><b>READY?</b></h3>         
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="box-group" id="accordion">
                <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                <div class="panel box box-primary">
                  <div class="box-header with-border">
                    <h4 class="box-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="" aria-expanded="true">
                        <p style=" color:dimgray; text-decoration: none;">Let's decide now</p>
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse in" aria-expanded="true">
                    <div class="box-body">
                      <div class="form-group">
                        <button type="submit" class="btn btn-block bg-purple"><i class="fa fa-lemon-o"></i> Post</button>
                        <button type="button" class="btn btn-block btn-default">Save as Draft</button>
                        <button type="button" class="btn btn-block btn-default">Preview</button>
                        <button type="button" class="btn btn-block btn-default">Junk</button>
                      </div>
                    </div>
                  </div>
                </div>
          
                <div class="panel box box-primary">
                  <div class="box-header with-border">
                    <h4 class="box-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed" aria-expanded="false">
                        <p style=" color:dimgray; text-decoration: none;">Select your target section</p>
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="box-body">
                      <form action="/select-box" method="post">
                      
                        <select id="labyuu" visible="true" onChange="showsthis()" class="form-control select2 select2-hidden-accessible btn-block" style="width: 100%; visibilty:hidden;" tabindex="-1" aria-hidden="true">
                          <option disabled selected hidden="" >Target Section</option>
                          {{#each section}}
                          <option>{{this.section_name}}</option>
                          {{/each}}
                        </select>
                      <form>
                  </div>
                  <div class="box-body" id="demo" hidden="hidden" id="baby">
                        nice one
                    </div>
                  </div>
                </div>
                <div class="panel box box-primary">
                  <div class="box-header with-border">
                    <h4 class="box-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" class="">
                        <p style=" color:dimgray; text-decoration: none;">Set you feartured image</p>
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse" aria-expanded="true" style="height: 0px;">
                    <div class="box-body">
                      <label for="exampleInputFile"></label>
                      <input type="file" id="exampleInputFile" name="image">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
    </form>

    <!-- /.content -->
  </div>
