<section class="content-header">
  <h1>
    Logs
    <small>Optional description</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
    <li class="active">Here</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <!-- Your Page Content Here -->
  <div class="container">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>User</th>
          <th>Date</th>
          <th>Time</th>
          <th>Actions Taken</th>
        </tr>
      </thead>
      {{#each records}}
      <tbody>
        <tr>
          <td>{{logs_user}}</td>
          <td>{{logs_date}}</td>
          <td>{{logs_time}}</td>
          <td>{{logs_action_taken}}</td>
        </tr>

      </tbody>
      {{/each}}
    </table>

  </div>


</section>
<!-- /.content -->

<!-- /.content-wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 2.2.3 -->
<script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="bootstrap/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/app.min.js"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. Slimscroll is required when using the
     fixed layout. -->
</body>

</html>