    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Users
        <small>Optional description</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Your Page Content Here -->
      <div class="col-md-4">
          <!-- Widget: user widget style 1 -->
          <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-black" style="background: url('./dist/img/photo1.png') center center;">
              <h3 class="widget-user-username">{{trends_fullname}}</h3>
              <h5 class="widget-user-desc">Business Analyst | Software Architect | Web Developer</h5>
            </div>
            <div class="widget-user-image">
              <img class="img-circle" src="./dist/img/avatar.png" alt="User Avatar">
            </div>
            <div class="box-footer">
              <div class="row">
                <div class="col-sm-4 border-right">
                  <div class="description-block">
                    <h5 class="description-header">3,200</h5>
                    <span class="description-text">PUBLISHED</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4 border-right">
                  <div class="description-block">
                    <h5 class="description-header">13,000</h5>
                    <span class="description-text">POSTS</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4">
                  <div class="description-block">
                    <h5 class="description-header">35</h5>
                    <span class="description-text">TASKS</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
          </div>
          <!-- /.widget-user -->
        </div>

<div class="col-md-8">
          <!-- Custom Tabs (Pulled to the right) -->
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs pull-right">
              <li class=""><a href="#tab_1-1" data-toggle="tab" aria-expanded="false">PENDING ACTIVTY</a></li>
              <li class=""><a href="#tab_2-2" data-toggle="tab" aria-expanded="false">POSTS</a></li>
              <li class="active"><a href="#tab_3-2" data-toggle="tab" aria-expanded="true">PAGE PUBLISHED</a></li>
              
              <li class="pull-left header"><i class="fa fa-tasks"></i> LIST OF ACTIVITIES</li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane" id="tab_1-1">
                
                <div class="box box-warning">
                  <div class="box-header with-border">
                    <h3 class="box-title">SAMPLE PAGE CREATED</h3>

                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                  </button>
                </div>
              <!-- /.box-tools -->
                </div>
            <!-- /.box-header -->
                  <div class="box-body" style="display: block;">
                  <p><justify>The European languages are members of the same family. Their separate existence is a myth.
                  For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ
                  in their grammar, their pronunciation and their most common words. Everyone realizes why a
                  new common language would be desirable: one could refuse to pay expensive translators. To
                  achieve this, it would be necessary to have uniform grammar, pronunciation and more common
                  words. If several languages coalesce, the grammar of the resulting language is more simple
                  and regular than that of the individual languages.</p></justify>
                  </div>
            <!-- /.box-body -->
                </div>

              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_2-2">

                <div class="box box-default box-solid collapsed-box">
                  <div class="box-header with-border">
                    <h3 class="box-title">ULTIMATE SAMPLE POST CREATED</h3>

                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                  </button>
                </div>
              <!-- /.box-tools -->
                </div>
            <!-- /.box-header -->
                  <div class="box-body" style="display: none;">
                <p><justify>The European languages are members of the same family. Their separate existence is a myth.
                For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ
                in their grammar, their pronunciation and their most common words. Everyone realizes why a
                new common language would be desirable: one could refuse to pay expensive translators. To
                achieve this, it would be necessary to have uniform grammar, pronunciation and more common
                words. If several languages coalesce, the grammar of the resulting language is more simple
                and regular than that of the individual languages.</justify></p>
                  </div>
            <!-- /.box-body -->
                </div>

                <div class="box box-default box-solid collapsed-box">
                  <div class="box-header with-border">
                    <h3 class="box-title">TRENDSNET NETWORKING</h3>

                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                  </button>
                </div>
              <!-- /.box-tools -->
                </div>
            <!-- /.box-header -->
                  <div class="box-body" style="display: none;">
                <p><justify>The European languages are members of the same family. Their separate existence is a myth.
                For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ
                in their grammar, their pronunciation and their most common words. Everyone realizes why a
                new common language would be desirable: one could refuse to pay expensive translators. To
                achieve this, it would be necessary to have uniform grammar, pronunciation and more common
                words. If several languages coalesce, the grammar of the resulting language is more simple
                and regular than that of the individual languages.</justify></p>
                  </div>
            <!-- /.box-body -->
                </div>

                <div class="box box-default box-solid collapsed-box">
                  <div class="box-header with-border">
                    <h3 class="box-title">TRENDSNET 2.0</h3>

                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                  </button>
                </div>
              <!-- /.box-tools -->
                </div>
            <!-- /.box-header -->
                  <div class="box-body" style="display: none;">
                <p><justify>The European languages are members of the same family. Their separate existence is a myth.
                For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ
                in their grammar, their pronunciation and their most common words. Everyone realizes why a
                new common language would be desirable: one could refuse to pay expensive translators. To
                achieve this, it would be necessary to have uniform grammar, pronunciation and more common
                words. If several languages coalesce, the grammar of the resulting language is more simple
                and regular than that of the individual languages.</justify></p>
                  </div>
            <!-- /.box-body -->
                </div>

                <div class="box box-default box-solid collapsed-box">
                  <div class="box-header with-border">
                    <h3 class="box-title">WE'LL MAKE IT BETTER!</h3>

                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                  </button>
                </div>
              <!-- /.box-tools -->
                </div>
            <!-- /.box-header -->
                  <div class="box-body" style="display: none;">
                <p><justify>The European languages are members of the same family. Their separate existence is a myth.
                For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ
                in their grammar, their pronunciation and their most common words. Everyone realizes why a
                new common language would be desirable: one could refuse to pay expensive translators. To
                achieve this, it would be necessary to have uniform grammar, pronunciation and more common
                words. If several languages coalesce, the grammar of the resulting language is more simple
                and regular than that of the individual languages.</justify></p>
                  </div>
            <!-- /.box-body -->
                </div>

                <div class="box box-default box-solid collapsed-box">
                  <div class="box-header with-border">
                    <h3 class="box-title">BE ONE OF US!</h3>

                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                  </button>
                </div>
              <!-- /.box-tools -->
                </div>
            <!-- /.box-header -->
                  <div class="box-body" style="display: none;">
                <p><justify>The European languages are members of the same family. Their separate existence is a myth.
                For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ
                in their grammar, their pronunciation and their most common words. Everyone realizes why a
                new common language would be desirable: one could refuse to pay expensive translators. To
                achieve this, it would be necessary to have uniform grammar, pronunciation and more common
                words. If several languages coalesce, the grammar of the resulting language is more simple
                and regular than that of the individual languages.</justify></p>
                  </div>
            <!-- /.box-body -->
                </div>

              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane active" id="tab_3-2">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                It has survived not only five centuries, but also the leap into electronic typesetting,
                remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                like Aldus PageMaker including versions of Lorem Ipsum.
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- nav-tabs-custom -->
        </div>

    </section>
    <!-- /.content -->
  <!-- /.content-wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 2.2.3 -->
<script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="bootstrap/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/app.min.js"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. Slimscroll is required when using the
     fixed layout. -->
</body>
</html>
