    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Post
        <small>(Create your Advertisments, Announcements, Featured Posts, News and Events)</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Your Page Content Here -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
         <div class="small-box">
          <form action="admin-panel-post-text-editor" method="GET">
            <button type="submit" class="btn btn-block btn-success btn-md"><i class="glyphicon glyphicon-lemon"></i> Create New Post</button>
          </form>
         </div>
        </div>

        <div class="col-lg-9 col-xs-6">
          <div class="box-tools pull-right">
            
          </div>
        </div>
      </div>

    {{#each records}}
      <div class="box box-default" id="{{post_id}}">
        <div class="box-header with-border">
          <form action="/modal-clicked" method="get">
            <h1 class="box-title"><b><a data-toggle="modal" href="#myModal{{post_id}}">{{post_title}}</a></b></h1>  
              <div class="btn-group pull-right">
                <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <li class="glyphicon glyphicon-menu-hamburger"></li></button>
                    <ul class="dropdown-menu pull-right" role="menu">
                      <li><a href="#"><p class="fa fa-edit"></p>Edit</a></li>
                      <li><a href="#"><p class="fa fa-eye"></p>Preview</a></li>
                      <li><a href="#"><p class="fa fa-bar-chart-o"></p>Status</a></li>
                      <li><a href="#"><p class="fa fa-key"></p>Duplicate</a></li>
                      <li class="divider"></li>
                      <li><a href="#" class="btnJunk" onclick="junk({{post_id}})"><p class="fa fa-trash-o" ></p>Junk</a></li>
                    </ul>
              </div>
          </form>
        </div>
      
        <div class="box-body">
          <p class="fa fa-book"></p>&nbsp;&nbsp;{{post_author}}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
          <p class="fa fa-calendar"></p>&nbsp;&nbsp;{{post_date}}
        </div>
      </div>
    {{/each}}
      
        <div class="row">
          <div class="col-md-12">
            <ul class="pagination pagination-md no-margin pull-right">
              <li><a href="#">Prev</a></li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </div>
        </div>
    </section>


      {{{post_author}}}

      {{#each records}}    
      <form action="" method="get">
      <div class="example-modal">
        <div class="modal fade" id="myModal{{post_id}}">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <label id="headerId"></label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">{{post_title}}</h4>
              </div>
              <div class="modal-body">
                <p>{{post_content}}</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success">Save changes</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
      </div>  
      </form>         
      {{/each}}


    <!-- /.content -->

  <!-- /.content-wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 2.2.3 -->
<script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="bootstrap/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/app.min.js"></script>


<script>
  function junk(junkId){
      $.ajax({
         url: "http://localhost:8083/junk-post",
         method: "POST",
         data: {"post_id": junkId},
         success: function(){
          $("#post_id_"+junkId).remove();
         },
         error: function(){
           
         }
      });

  }
  
  
</script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. Slimscroll is required when using the
     fixed layout. -->
</body>
</html>
