<section class="content-header">
  <h1>
    Pages
    <small>Optional description</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
    <li class="active">Here</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <!-- Your Page Content Here -->

  <div class="row">
    <div class="col-lg-3 col-xs-6">
      <div class="small-box">
        <form action="admin-panel-page-text-editor" method="GET">
          <button type="submit" class="btn btn-block btn-success btn-md"><i class="glyphicon glyphicon-lemon"></i> Add New Page</button>
        </form>
      </div>
    </div>

    <div class="col-lg-9 col-xs-6">
      <div class="box-tools pull-right">
        <input type="search" class="form-control input-lg" placeholder="Search" aria-controls="example1">
      </div>
    </div>
  </div>
  {{#each records}}
  <div class="box box-default" id="{{page_id}}">
    <div class="box-header with-border">
      <form action="/modal-clicked" method="get">
        <h1 class="box-title"><b><a data-toggle="modal" href="#myModal{{page_id}}">{{page_title}}</a></b></h1>
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <li class="glyphicon glyphicon-menu-hamburger"></li></button>
          <ul class="dropdown-menu pull-right" role="menu">
            <li>
              <a href="#">
                <p class="fa fa-edit"></p>Edit</a>
            </li>
            <li>
              <a href="#">
                <p class="fa fa-eye"></p>Preview</a>
            </li>
            <li>
              <a href="#">
                <p class="fa fa-bar-chart-o"></p>Status</a>
            </li>
            <li>
              <a href="#">
                <p class="fa fa-key"></p>Duplicate</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#" onclick="funkIt({{page_id}})" class="btnJunk">
                <p class="fa fa-trash-o"></p>Junk</a>
            </li>
          </ul>
        </div>
    </div>

    <div class="box-body">
      <p class="fa fa-book"></p>&nbsp;&nbsp;{{this.page_author}}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
      <p class="fa fa-calendar"></p>&nbsp;&nbsp;{{this.page_date}}
    </div>
  </div>
  {{/each}}

  <div class="row">
    <div class="col-md-12">
      <ul class="pagination pagination-md no-margin pull-right">
        <li><a href="#">Prev</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">Next</a></li>
      </ul>
    </div>
  </div>
</section>

{{#each records}}
<form action="modal-clicked" method="get">
  <div class="example-modal">
    <div class="modal fade" id="myModal{{page_id}}">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <label id="headerId"></label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span></button>
            <h4 class="modal-title">{{page_title}}</h4>
          </div>
          <div class="modal-body">
            <p>{{page_body}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success">Save changes</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
  </div>
</form>
{{/each}}

</section>

<!-- jQuery 2.2.3 -->
<script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="bootstrap/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/app.min.js"></script>

<script>
  function funkIt(funkId) {
    $.ajax({
      url: "http://localhost:8083/junk-page",
      method: "POST",
      data: { "page_id": funkId },
      success: function () {
        $("#page_id_" + funkId).remove();
      },
      error: function () {

      }
    });

  }

</script>
<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. Slimscroll is required when using the
     fixed layout. -->
</body>

</html>